################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RewardsCalculator/.vs/RewardsCalculator/v16
/RewardsCalculator/RewardsCalculator.Api/bin/Debug/netcoreapp2.1
/RewardsCalculator/RewardsCalculator.Api/obj
/RewardsCalculator/RewardsCalculatorDataLoader/bin/Debug/netcoreapp3.1
/RewardsCalculator/RewardsCalculatorDataLoader/obj
